<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>申请</title>
    <link rel="icon" href="/static/favicon.ico">

    <!-- CSS  -->
    <link href="/static/css/icon.css" rel="stylesheet">
    <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">A R D E N</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Link</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
            <li><a href="#">Link</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">菜单</i></a>
    </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <form action="" method="post">{% csrf_token %}
            <h1 class="header center blue-text">{{ label }}</h1>
            <div class="row center">
                <h5 class="header col s12 light">
                    哔哩哔哩（bilibili）是中国领先的年轻人文化社区，该网站于2009年6月26日创建，被粉丝们亲切的称为“B站”。
                </h5>
            </div>
            <div class="row center">
                <div class="input-field col s12">
                    <input id="id_mid" type="text" name="mid" maxlength="20" required class="validate">
                    <label for="id_mid">在此填入阿婆主编号</label>
                </div>
            </div>
            <div class="row center">
                <button type="submit" class="btn-large waves-effect waves-light orange">
                    提 交 申 请<i class="material-icons right">send</i>
                </button>
            </div>
        </form>
        <br><br>
    </div>
</div>

<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l9 s12">
                <h5 class="white-text">Bio</h5>
                <p class="grey-text text-lighten-4">" 春观夜樱 夏望繁星 秋赏满月 冬会初雪 "</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Amara</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            由 <a class="orange-text text-lighten-3" href="https://github.com/loveflycforever">SuperF</a> 制作
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="/static/js/jquery-2.1.1.min.js"></script>
<script src="/static/js/materialize.js"></script>
<script src="/static/js/init.js"></script>

</body>
</html>
