<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>申请</title>
    <link rel="icon" href="/static/favicon.ico">

    <!-- CSS  -->
    <link href="/static/css/icon.css" rel="stylesheet">
    <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">Arden</a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a class='dropdown-trigger' href='#' data-target='dropdown1'>
                    <i class="material-icons">account_circle</i>
                </a>
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a href="#!">管理员</a></li>
                    <li class="divider" tabindex="-1"></li>
                    <li><a href="#!"><i class="material-icons">exit_to_app</i>EXIT</a></li>
                </ul>
            </li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
            <li><a href="#!">管理员</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="#!"><i class="material-icons">exit_to_app</i>EXIT</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
            {% for key, value in data.items %}
                {% if forloop.first %}
                    <li class="tab"><a class="active" href="#{{ key }}">{{ value.0 }}</a></li>
                {% else %}
                    <li class="tab"><a href="#{{ key }}">{{ value.0 }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        {% for key, value in data.items %}
            <div id="{{ key }}" class="col s12">
                <div class="collection">
                    {% for v in value.1 %}
                        <div class="collection-item">
                            {{ v.mid }}
                            {{ v.local_created_at }}
                            <a onclick="manage_approve()" class="secondary-content tooltipped" data-position="top" data-tooltip="核准">
                                <i class="material-icons">check_box</i>
                            </a>
                            <span class="secondary-content black-text"><i class="material-icons tiny">looks_two</i></span>
                            <a onclick="manage_reject()" class="secondary-content tooltipped" data-position="top" data-tooltip="拒绝">
                                <i class="material-icons">cancel</i>
                            </a>
                            <span class="secondary-content black-text"><i class="material-icons tiny">looks_one</i></span>
                        </div>
                    {% empty %}
                        <div class="collection-item">There are no athletes. Only computer programmers.
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <br><br>
    </div>
</div>

<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l9 s12">
                <h5 class="white-text">Bio</h5>
                <p class="grey-text text-lighten-4">" 春观夜樱 夏望繁星 秋赏满月 冬会初雪 "</p>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Amara</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            由 <a class="orange-text text-lighten-3" href="https://github.com/loveflycforever">SuperF</a> 制作
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="/static/js/jquery-2.1.1.min.js"></script>
<script src="/static/js/materialize.js"></script>
<script src="/static/js/init.js"></script>
<script src="/static/js/arden.js"></script>
</body>
</html>
